[submodule "docsrc/themes/hugo-material-docs"]
	path = docsrc/themes/hugo-material-docs
	url = https://github.com/jshook/hugo-material-docs.git
[submodule "docsrc/themes/hugo-theme-learn"]
	path = docsrc/themes/hugo-theme-learn
	url = https://github.com/jshook/hugo-theme-learn.git
